.carousel .slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
@media (hover: none){
  .carousel .slide {
    min-height: -webkit-fill-available;
    height:-webkit-fill-available;
  } 
  .gFKIvu {
    min-height: -webkit-fill-available;
  }    
}
.carousel .slide img {}
.carousel .control-next.control-arrow {
  background-color: none;
  width: 50%;
  cursor: url(/icons/next@1x.png) 0 0, pointer;
  cursor: -webkit-image-set(
        url(/icons/next@1x.png) 1x,
        url(/icons/next@2x.png) 2x
      )
      0 0,
    pointer;
}
.carousel .control-prev.control-arrow {
  background-color: none;
  width: 50%;
  cursor: url(/icons/prev@1x.png) 0 0, pointer;
  cursor: -webkit-image-set(
        url(/icons/prev@1x.png) 1x,
        url(/icons/prev@2x.png) 2x
      )
      0 0,
    pointer;
}

.exit-artist-button-con {
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
  width: 100px;
  height: 100px;
  /*background-color: blue;*/
  z-index: 400000;
}
.carousel.carousel-slider .control-arrow:hover {
  background: none;
}
.carousel .control-arrow:before,
.carousel.carousel-slider .control-arrow:before {
  border-top: 0px;
  border-bottom: 0px;
  border-left: 0px;
}
.artist-artist-title-and-counter-con {
  position: fixed;
  text-align: center;
  width: 100%;
  bottom: -10px;
}
.artist-artist-title-and-counter-con p {
  font-size: 20px;
  font-family: 'Helvetica Neue LT Pro';
}

img.artist-artist-img.landscape {
  height:86%;
  width:auto;
}

img.artist-artist-img.portrait {
  height:86%;
  width:auto;
}

img.artist-artist-img.square {
  height:86%;
  width:auto;
}
@media only screen and (max-width: 480px) {
  img.artist-artist-img.landscape {
    width:90%;
    height:auto;
  }
  img.artist-artist-img.portrait {
    width:90%;
    height:auto;
  }
  img.artist-artist-img.square {
    width:90%;
    height:auto;
  }  
}


